#body {
	background-color: #00a9e0;
}

h1 {
	color: black;
	font-family: copperplate;
	font-size: 2.3em; 
}

#font {
	color: #254da3;
	font-family: Impact; 
	font-size: 20em; 
	text-align: center;
}

h2 {
	color: black;
	font-family: palatino;
	font-size: 1.5em;	
}

h2.finish {
	font-size: 2.5em;
}

h3 {
	color: black;
	font-family: palatino;
	font-size: 1.0em;	
}


table {
	float: left;
	border: 1px solid black;
	border-collapse: collapse;
}

th,td {
	border: 1px solid black;
	padding: 5px;
}
tr:nth-child(even) {background-color: #f2f2f2}

th:nth-child(1) {background-color: #52D017}

b {
	color: white;
}

.press_button  {
	width: 105px;
	height: 40px;
	border: 2px solid #0000A0; 
	background-color: #1589FF;
	color: white; 
	text-align: center; 
	font-family: "copperplate", cursive, sans-serif;
	font-size: 0.8em;
	border-radius: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.press_button:hover {
	color: black;
	font-family: "copperplate", cursive, sans-serif;
	background-color: white;
	text-decoration: none;
}

.press_button:disabled {
	color: white;
	font-family: "copperplate", cursive, sans-serif;
	background-color: #D1D0CE;
	border: 2px solid #736F6E;
}

.kill_button {
	width: 105px;
	height: 40px;
	border: 2px solid #0000A0; 
	background-color: #1589FF;
	color: white; 
	text-align: center; 
	font-family: "copperplate", cursive, sans-serif;
	font-size: 0.8em;
	border-radius: 3px;	
}

.kill_button:hover {
	color: black;
	font-family: "copperplate", cursive, sans-serif;
	background-color: white;
	text-decoration: none;	
}
.input {
	width: 100px;
	height: 35px;
	border: 1px solid black; 
	border-radius: 3px;
}
.filler {
	font: italic; 
	font-family: baskerville;
	color: #B6B6B4;
}

.score {
	font-family: palatino;
}

#Kennedy {
	max-width: 520px;
	height: 292px;
	float: right;
}


