<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<title> Answer Check </title>
		<style>
			table, th, td {
			    border: 1px solid black;
			    border-collapse: collapse;
			}
			th, td {
			    padding: 5px;
			    text-align: left;
			}
		</style>
	</head>
	<body>
		<table style = 'width:100%'>
			<tr>
				<th>Question Number:</th>
				<td> filler</td>
			</tr>
			<tr>
				<th>Points:</th>
				<td>filler</td>
			</tr>
			<tr>
				<th>Points Possible:</th>
				<td>6</td>
			</tr>
		</table>
	</body>
</html>