<!DOCTYPE html>
<html lang = 'en'>
	<head>
	<meta charset=utf-8 />
		<title> Answer Check </title>
		<style type="text/css">
			body {margin: 30px;}
		</style>
		<script type = "text/javascript" src= "{{url_for('static', filename='style.js')}}">  
		</script>			
	</head>
	<body>
		<h2> Results </h2>
		<p id = 'grade'>Grade: </p>		
		<div>
		<p>
			<table id = 'question_number' border="1" style = 'float:left;'>
				<td>Question Number</td>					
			</table>
			<table id = 'points_got' border="1" style = 'float:left;'>
				<td>Points Got</td>
			</table>			
			<table id = 'points_possible' border="1" style = 'float:left;'>
				<td>Points Possbile</td>
			</table>
		</p>
		</div>
		<br>
		<div>
			<p>
				<button type = 'text' onclick="showRows();" id = 'button'>see Results</button>	
			</p>
		</div>
	</body>
</html>