<!DOCTYPE html>
<html lang = 'en'>
	<head>
	<meta charset=utf-8 />
		<title> Answer Check </title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheet.css') }}"/>
		<script type="text/javascript" src = "{{url_for('static', filename='dictionary_answers.js')}}"></script>
		<script type = "text/javascript" src= "{{url_for('static', filename='style.js')}}">  
		</script>			
	</head>
	<body>
		<h2 class = 'finish'> Results </h2>
		<p class = 'score' id = 'grade'>Grade: </p>		
		<div>
		<p>
			<table id = 'question_number' >
				<th><b>Question Number</b></th>					
			</table>
			<table  id = 'points_got' >
				<th class = 'small'><b>Points Got</b></th>
			</table>			
			<table  id = 'points_possible' >
				<th><b>Points Possbile</b></th>
			</table>
		</p>
		</div>
		<br>
		<div>
			<p>
				<button class = 'kill_button' type = 'text' onclick="showRows();" id = 'button'>see Results</button>	
			</p>
		</div>
	</body>
</html>