<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<title>Webpage</title>
		<meta charset=utf-8>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheet.css') }}"/>
		<script type="text/javascript" src = "{{url_for('static', filename = 'dictionary_answers.js')}}"></script>
		<script src="{{url_for('static', filename='style.js')}}"></script>
		<img src="{{url_for('static', filename = 'kennedy.jpg')}}" alt = 'John F Kennedy Picture' id = 'Kennedy'>
	</head>
	<body background-color = '#FFFFFF'>
		<div class = 'template'>
			<h1> President Game</h1>
			<h2> Six Point Clue</h2>
				<div class = 'filler' id = '6point'><i> six point clue displayed here</i> </div>
			<h2> Four Point Clue </h2>
				<div class = 'filler' id = '4point'><i> four point clue displayed here</i> </div>
			<h2> Two Point Clue </h2>
				<div class = 'filler' id = '2point'><i> two point clue displayed here</i> </div>
			<p>	
				<h3> If you know the answer, type the President NUMBER here </h3>
				<div class = 'score' id = 'right_answer'></div>

			</p>
				<input class = 'input' type = 'text' id = 'button' placeholder="45 Donald Trump"> 
				<button class = 'press_button' type = 'submit' onclick = 'submitAnswer();' id = 'submit'>Submit</button> <br>
				<button class = 'press_button' type = 'button' onclick= 'onClick()' id = 'hide' > Next Clue</button>
				<p hidden>Clicks: <a id = 'count'> 0 </a></p>
			<p>
				<div>
					<input class = 'press_button' type="button" id="next_question" value="Next Question" disabled onclick = 'reloadPage();'/>
				</div>
				<br>
				<div class = 'score' id = 'points'>No Points</div>
				<div class = 'score' id = 'score'>Score = </div>
				<br>
				<form action = '/finish' method = 'POST'>
					<button class = 'press_button' type = 'submit' id = 'finished'>Finish</button>
				</form>
			</p>
		</div> 
		</body>
</html>