<!DOCTYPE html>
<html lang = 'en'>
	<head>
		<title>Webpage</title>
		<meta charset=utf-8>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stylesheet.css') }}"/>
		<script type="text/javascript" src = "{{url_for('static', filename = 'dictionary_answers.js')}}"></script>
		<script src="{{url_for('static', filename='style.js')}}"></script>
		<img src="{{url_for('static', filename = 'kennedy.jpg')}}" alt = 'John F Kennedy Picture' id = 'Kennedy'>
	</head>

	<body>
		<div class = 'template'>
			<h1> President Game</h1>
			<h2> Six Point Clue</h2>
				<div class = 'filler' id = '6point'><i> six point clue displayed here</i> </div>
			<h2> Four Point Clue </h2>
				<div class = 'filler' id = '4point'><i> four point clue displayed here</i> </div>
			<h2> Two Point Clue </h2>
				<div class = 'filler' id = '2point'><i> two point clue displayed here</i> </div>
			<p>	
				<h3> If you know the answer, type the President NUMBER here </h3>
				<div class = 'score' id = 'right_answer'></div>

			</p>
				<input class = 'input' type = 'text' id = 'button' placeholder="45 Donald Trump"> 
				<button class = 'press_button' type = 'submit' onclick = 'submitAnswer();' id = 'submit'>Submit</button> <br>
				<button class = 'press_button' type = 'button' onclick= 'onClick()' id = 'hide' > Next Clue</button>
				<p hidden>Clicks: <a id = 'count'> 0 </a></p>
			<p>
				<div>
					<input class = 'press_button' type="button" id="next_question" value="Next Question" disabled onclick = 'reloadPage();'/>
				</div>
				<br>
				<div class = 'score' id = 'points'>No Points</div>
				<div class = 'score' id = 'score'>Score = </div>
				<br>
				<form action = '/finish' method = 'POST'>
					<button class = 'press_button' type = 'submit' id = 'finished'>Finish</button>
				</form>
			</p>
		</div> 
		</body>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>		
		<script type="text/javascript">		
			$('#button').keyup(function() {
				if ($('#button').val().toLowerCase().indexOf("rainbow") != -1 ) {
					$('body').css('background','linear-gradient(to bottom, rgba(255,44,40,1) 0%,rgba(255,128,0,1) 17%,rgba(255,246,0,1) 34%,rgba(0,170,0,1) 50%,rgba(0,219,201,1) 66%,rgba(43,0,216,1) 83%,rgba(165,46,121,1) 100%)');
				}
				else {
					$('body').css('background','white');
				}
			})
		</script>
</html>